@{
 Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;
@using DoctorsOffice.Models;

<h2>Doctor Details</h2>

<h3>Doctor Name: @Html.DisplayFor(model => model.Name)</h3>
<h3>Doctor Specialty: @Html.DisplayFor(model => model.Specialty)</h3>
<hr />

@if(@Model.JoinEntities.Count == 0)
{
  <p>No Patients.</p>
}
else
{
  <h4>Patients assigned to this Doctor:</h4>
  <ul>
  @foreach(DoctorPatient join in Model.JoinEntities)
  {
    <li>@join.Patient.Name</li>
    
  }
  </ul>
}

<p>@Html.ActionLink("Add an Patient", "AddPatient", new { id = Model.DoctorId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>